body{
	background:url(bg_home.jpg) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size:cover;
    font-family: 'Roboto', sans-serif;
}

*{
margin:0;
padding:0;
list-style: none;
text-decoration: none;
}

.sidebar{
position:fixed;
left: 0;
width:200px;
height:100%;
background: #042331;
display:block;
overflow-y:auto;
}
.sidebar header{
font-size:22px;
color:white;
text-align:center;
line-height:70px;
background:#063146;
}

.sidebar ul a{
display:block;
height:100%;
width:100%;
line-height:65px;
font-size:15px;
color:white;
padding-left:25px;
box-sizing:border-box;
border-top:1px solid rgba(255,255,255,.1);
border-bottom:1px solid black;
transition:.4s;
}

ul li:hover a{
padding-left:30px;
}

.sidebar ul a i{
margin-right: 16px;
}

.upperbar{
color:white;
text-align:left;
width:100%;
height:11.3%;
background:white;
border-bottom:1px solid grey;
border-bottom:1px solid grey;
position:fixed;
}

.upperbar h1{
	font-size:120%;
	margin-left:300px;
	margin-top:25px;
	margin-bottom:40px;
	color: grey;
	
}

.container{
	width:300px;
	margin-left:630px;
	margin-top:100px;
	background-color:white;
	padding:20px;
	position:absolute;
}